.searchOptionField {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 10px 0;
    /* padding: 0 5px; */
    padding: 0 10px;
}

main {
    padding: 10px;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: lightblue;
}

footer {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: bisque;
}

.body {
    display: flex;
    min-height: 80vh;
    background-color: lightpink;
}
